pkgbase = python-pathspec
	pkgdesc = Utility library for gitignore style pattern matching of file paths
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/cpburnz/python-pathspec
	arch = any
	license = MPL2
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/cpburnz/python-pathspec.git#tag=v0.12.0
	b2sums = SKIP

pkgname = python-pathspec
